@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&family=Space+Grotesk:wght@300;400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

 :root {
    --yellow-color: #FFFF00;
    --yellow-light: #f8f184;
    --blue-color: #19587d;
    --white-color: #ffffff;
}

h1 {
    font-family: "Rajdhani";
    font-size: 26px;
    font-weight: 400;
    padding-bottom: 25px;
}

a {
    color: var(--white-color);
    font-size: 35px;
    font-weight: 500px;
    font-family: "Rajdhani";
}

button {
    font-family: "Rajdhani";
    font-size: 20px;
    font-weight: 400;
}

p {
    font-family: "Space Grotesk";
    width: 100%;
    font-size: 18px;
    padding-left: 56px;
}

.home {
    font-family: "Rajdhani";
    font-size: 30px;
    font-weight: 800;
    padding-right: 70px;
    padding-bottom: 30px;
    padding-top: 25px;
}

.crazy {
    font-family: "Space Grotesk";
    font-size: 30px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.tempered {
    display: flex;
    align-items: center;
    position: absolute;
    flex: content;
    flex-direction: column;
}

.logo {
    padding-left: 70px;
    padding-bottom: 30px;
    padding-top: 25px;
}

.container {
    display: flex;
    justify-content: space-between;
    border: 3px solid rgba(196, 196, 196, 0.2);
    border-top: none;
    width: 90%;
    padding-top: 35px;
    padding-bottom: 75px;
}

body {
    background-color: rgb(0, 0, 0);
    color: white;
    background-image: url("../Assets/Illustrations/Bathome1.png");
    background-size: contain;
    background-repeat: no-repeat;
}

header {
    display: flex;
    justify-content: center;
    width: 100%;
}

legend {
    font-family: "Rajdhani";
    font-size: 20px;
}

.Item {
    margin-left: 75px;
    margin-right: 75px;
}

.container>.Item>h1 {
    text-decoration: underline;
    font-weight: 500;
    font-family: Rajdhani;
}

.Boîte1 {
    display: flex;
    text-align: center;
    justify-content: center;
}

.Item-Boîte1 {
    border: 3px solid rgba(196, 196, 196, 0.2);
    border-top: none;
    border-bottom: none;
    width: 90%;
}

.Contenu {
    width: 30%;
    margin: 0 auto;
    padding-top: 170px;
}

.cinema {
    width: 90%;
    margin: 0 auto;
    border: 3px solid rgba(196, 196, 196, 0.2);
    border-bottom: none;
    border-top: none;
}

.Peace11 {
    width: 70%;
    margin: 50px;
    margin-top: 0;
    text-align: justify;
}

.Peace12 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
}

.Peace1 {
    padding-top: 50px;
}

.cinema>.Peace1>.Peace11>h2 {
    padding: 50px;
}

.multimedia {
    width: 90%;
    margin: 0 auto;
    border-right: 3px solid rgba(196, 196, 196, 0.2);
    border-left: 3px solid rgba(196, 196, 196, 0.2);
    padding: 10px;
}

.multimedia1 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.multimedia12 {
    background-color: #c4c4c4;
    width: 500px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    justify-content: space-between;
}

.unique {
    font-size: smaller;
}

.Image1 {
    padding-top: 250px;
}

.firstbutton {
    width: 200px;
    height: 50px;
    justify-content: space-between;
    background-color: #eddbef #19587d;
}

.texte {
    font-family: Space Grotesk;
    font-size: 22px;
}